# run at 3:00am everyday
# 0 3 * * * cd / && /usr/local/bin/python /start.py crawl newworld > /var/logs/logfile 2>&1
17 11 * * * cd / && /usr/local/bin/python /start.py crawl newworld > /var/logs/logfile 2>&1
